body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.header {
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  display: flex;
  width: 100vw;
  z-index: 999;
  
}
.App-fake-header {
  height: 52px;
}
Shoppingcart {


}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.header li a:hover:not(.active) {
  background-color: #111;
}

.selected {
  background-color: black;
}

.showmapAllBut{
  cursor: pointer;
  position: fixed;
  width: 180px;
margin-left: 20px;
  top: 400px;
  text-align: center;
  
  }
.showmapAllBut h4{
margin: 0px;
}


.card {
  width: 200px;
 position: relative;
  text-align: center;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;     
  
}

.description{
  color: Black;
  display: inline;
  font-weight: bold;
  word-wrap: break-word;
  font-size: 15px;


}
.photo {
    width: 100%;
    height: 15vw;
    object-fit: contain
}





.price {
  color: grey;
  font-size: 20px;
  margin: 10px;
}
.priceGreen {
  color: Black;
  font-size: 9px;
  font-weight: bold;

}

.showmapBut{
padding-top: 10px;
margin-left: 10px;;
 width: 30px;
 background: transparent;
 border: none;
}

.showmapBut:hover{
  cursor: pointer;
  filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(100deg) saturate(200%);
}
body {
  background-image: url('mountain-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.infoTitle{
  top: 51px;
  height: 100px;
  position: sticky;
  position: -webkit-sticky;
  display: block;
  background-color: white;
z-index: 99;
}
.infoTitle h1{
  margin: 20px;
  padding-top: 40px;
  display: inline;
}


.stores{
  display: inline-block;
  width: 75%;
  margin-left: 220px;
}



/* MARK: SideFilter */



.sideFilter{
background-color: lightgray;
width: 180px;

padding-bottom: 10px;
margin: 20px;
display: inline-block;
position: fixed;
}

.sideFilter h3 {
  margin-top: 0px;
  text-align: center;
  background-color: white;
  
}
.sideLine{
  height: 1px;
  background-color: black;
}
.sideFilter div{
  margin: 10px;
}
.sideFilter p{
  display: inline;
  
}
.unchecked{
  padding: 10px;

}

.unchecked:hover{
  border: none;
  border-radius: 2px;
  padding: 12px;
  background-color: yellowgreen;

}

.checked{
  border: none;
  border-radius: 2px;
  padding: 12px;
  background-color: yellowgreen;
}


/* MARK: Weather */ 

.weatherBox{
  margin-right: 20px;
  float: right;
  display: inline-block;
  text-align: center;
}
.weatherBox img{
 width: 40px;
 margin: 0px;
}

.weatherBox h5 {
  margin: 2px;
  margin-bottom: 4px;
  color: grey;
}
.weatherBox h3 {
  margin: 0px;
}
